body {
    padding: 10px;
}

/*Start active listings list container*/
#active-listings-container {
    width: 90vw;
    margin-top: 2rem;
}

/*End active listings list container*/


/*Start active listings list*/
.active-listing {
    text-decoration: none;
    list-style: none;
    color: black;
}

.active-listing:hover {
    text-decoration: none;
    color: black;
}

.listing-img {

}

/*End active listings list*/


/*Start listing price*/
.listing-price {
    font-weight: bold;
}
/*End listing price*/

/*Start listing description*/
.active-listing .listing-description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
/*End listing description*/

/*Start listing timestamp*/
.listing-timestamp {
    color: gray;
}

/*End listing timestamp

/*Page heading*/
.heading-text {
    margin-bottom: 1em;
}


/*Start create listing form*/
#create-listing-form {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    height: 100vh;
}

.form-fields {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

@media screen and (max-width: 640px) {
    .form-fields {
        flex-direction: column;
        gap: 0;
    }
}

.btn-holder {
    align-self: center;
}


.form-left-side, .form-right-side {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input, textarea {
    margin-bottom: 1em;
}

/*End create listing form*/