{% extends "auctions/layout.html" %}

{% block title %}
    Create Listing
{% endblock %}

{% block body %}
    <h2 class="heading-text">Create Listing</h2>
    
    {% if message %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endif %}


    <form id="create-listing-form" action="{% url 'create_listing' %}" method="post" name="create_listing">
        {% csrf_token %}
        <div class="form-fields">
            <div class="form-left-side">
                <div class="form-group">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" name="title" maxlength="64" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" name="description" maxlength="1000" rows="7" required></textarea>
                </div>
            </div>
            <div class="form-right-side">
                <div class="form-group">
                    <label class="form-label" for="price">Price</label>
                    <input class="form-control" type="number" name="price">
                </div>
                <div class="form-group">
                    <label class="form-label" for="image_URL">Image URL</label>
                    <input class="form-control" type="url" name="image_URL">
                </div>

                <div class="form-group select-category">
                    <label class="form-label" for="category">Category</label>
                    <select class="form-select" name="category" multiple>
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="btn-holder">
            <input class="btn btn-primary button" type="submit" value="Create">
        </div>
    </form>

{% endblock %}