{% extends "auctions/layout.html" %}

{% block title %}
    {{ listing.title }}
{% endblock %}


{% block body %}

    {% if message %}
        {{ message }}
    {% endif %}

    <div id="listing-details-container">
        <h2>Listing: {{ listing.title }}</h2>
        <!--TODO: Add logic if in watchlist-->
        <span class="badge text-bg-secondary">Watchlist</span>
        {% if listing.image_URL %}
            <img src="{{ listing.image_URL }}" class="listing-img img-fluid rounded-start"
                 alt="{{ listing.title }}">
        {% else %}
            <img src="../../static/auctions/landscape-placeholder.svg" class="listing-img img-fluid rounded-start"
                 alt="{{ listing.title }}">
        {% endif %}
        <p>{{ listing.description }}</p>
        <h3 class="listing-price">${{ listing.price }}</h3>
        <p>
            <small>
                <!-- TODO: Add logic for bids quantity -->
                2 bid(s) so far.
                <!-- TODO: Add logic to check if the current user has bid for this listing -->
                {% if user.is_authenticated %}
                    <small>Your bid is the current bid.</small>
                {% endif %}
            </small>
        </p>
        {% if user.is_authenticated %}
            <div class="bid-form-container">
                <form action="{% url 'place_bid' listing.id %}" method="post" name="place_bid">
                    {% csrf_token %}
                    <input type="text" placeholder="Bid">
                    <input class="btn btn-primary" type="submit" value="Place Bid">
                </form>
            </div>
        {% endif %}
        <div class="listing-info">
            <h4>Details</h4>
            <ul>
                <!-- TODO: Add link to user's profile -->
                <li>Listed by: <a href="{% url 'index' %}">{{ listing.owner }}</a></li>
                <li>Category:
                    {% for category in listing.category.all %}
                        <a href="/categories/{{ category.id }}">{{ category }}</a>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>

{% endblock %}