{% extends "auctions/layout.html" %}

{% block title %}
    {{ listing.title }}
{% endblock %}

{% block body %}

    {% if message %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endif %}

    {% if listing %}
        <div id="listing-details-container">
            <!-- Listing title -->
            <div class="listing-header">
                <h2>Listing: {{ listing.title }}</h2>

                <!-- Add to watchlist action btns -->
                {% include "auctions/add_to_watchlist_action_btns.html" %}

            </div>

            <!-- Watchlist badge -->
            {% include "auctions/watchlist_badge.html" %}

            <!-- Listing information -->
            {% if listing.image_URL %}
                <img src="{{ listing.image_URL }}" class="listing-img img-fluid rounded-start"
                     alt="{{ listing.title }}">
            {% else %}
                <img src="../../static/auctions/landscape-placeholder.svg" class="listing-img img-fluid rounded-start"
                     alt="{{ listing.title }}">
            {% endif %}
            <p>{{ listing.description }}</p>

            <!-- Price to display -->
            {% if placed_bids %}
                <h3 class="listing-price">
                    <small class="starting-price">${{ listing.starting_price }}</small>
                    ${{ listing.current_bid }}</h3>
            {% else %}
                <h3 class="listing-price">${{ listing.starting_price }}</h3>
            {% endif %}

            <!-- Bid(s) count information -->
            <div class="bids-info">
                <p>
                    <small>
                        {% if placed_bids.count == 1 %}
                            {{ placed_bids.count }} bid so far.
                        {% else %}
                            {{ placed_bids.count }} bid(s) so far.
                        {% endif %}

                        <!-- Check if logged in use is the owner of the current bid -->
                        {% if is_current_bid_owner %}
                            Your bid is the current bid.
                        {% endif %}

                    </small>
                </p>

                <!-- Table placed bids -->
                {% include "auctions/table_placed_bids.html" %}

            </div>

            <!-- Display bid_message_error if available -->
            {% if bid_message_error %}
                <div class="alert alert-danger" role="alert">
                    {{ bid_message_error }}
                </div>
            {% endif %}

            <!-- Display bid_message_success if available -->
            {% if bid_message_success %}
                <div class="alert alert-success" role="alert">
                    {{ bid_message_success }}
                </div>
            {% endif %}

            <!-- Place bid form -->
            {% include "auctions/place_bid_form.html" %}

            <!-- Listing details section -->
            {% include "auctions/listing_details_section.html" %}
            <hr>
            <!-- Add comment form -->
            {% if comment_message_error %}
                <div class="alert alert-danger" role="alert">
                    {{ comment_message_error }}
                </div>
            {% endif %}

            {% if comment_message_success %}
                <div class="alert alert-success" role="alert">
                    {{ comment_message_success }}
                </div>
            {% endif %}

            {% include "auctions/add_comment_form.html" %}
        </div>
    {% endif %}
{% endblock %}