{% extends "auctions/layout.html" %}

{% block title %}
    {{ listing.title }}
{% endblock %}


{% block body %}

    {% if message %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endif %}

    <div id="listing-details-container">
        <div class="listing-header">
            <h2>Listing: {{ listing.title }}</h2>
            <div class="action-btns">
                <form action="{% url 'add_to_watchlist' listing.id %}" method="post">
                    {% csrf_token %}
                    {% if user in listing.watchlist.all %}
                        <input type="submit" value="Remove from Watchlist" class="btn btn-primary">
                    {% else %}
                        <input type="submit" value="Add to Watchlist" class="btn btn-primary">
                    {% endif %}
                </form>
            </div>
        </div>
        <!--TODO: Add logic if in watchlist-->
        <div class="watchlist_badge">
            {% if user in listing.watchlist.all %}
                <span class="badge">Watchlist</span>
            {% endif %}
        </div>
        {% if listing.image_URL %}
            <img src="{{ listing.image_URL }}" class="listing-img img-fluid rounded-start"
                 alt="{{ listing.title }}">
        {% else %}
            <img src="../../static/auctions/landscape-placeholder.svg" class="listing-img img-fluid rounded-start"
                 alt="{{ listing.title }}">
        {% endif %}
        <p>{{ listing.description }}</p>
        <h3 class="listing-price">${{ listing.price }}</h3>

        <p>
            <small>
                <!-- TODO: Add logic for bids quantity -->
                {% if placed_bids.count == 1 %}
                    {{ placed_bids.count }} bid so far.
                {% else %}
                    {{ placed_bids.count }} bid(s) so far.
                {% endif %}

                <!-- TODO: Add logic to check if the current user has bid for this listing -->
                {% if is_current_bid_owner %}
                    Your bid is the current bid.
                {% endif %}

            </small>
        </p>

        {% if placed_bids %}
            <div class="placed-bids">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Amount</th>
                        <th scope="col">Placed by</th>
                        <th scope="col">Placed on</th>
                    </tr>
                    </thead>
                    {% for bid in placed_bids %}
                        {% if listing.id == bid.listing_id %}
                            <tbody>
                            <tr>
                                <th scope="row">${{ bid.bid }}</th>
                                <td>{{ bid.owner }}</td>
                                <td>{{ bid.bid_time }}</td>
                            </tr>
                            </tbody>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        {% endif %}

        <div class="bid-form-container">

            {% if bid_message %}
                <div class="alert alert-danger" role="alert">
                    {{ bid_message }}
                </div>
            {% endif %}


            {% if is_listing_owner %}
                <form action="{% url 'close_listing' listing.id %}" method="post">
                    {% csrf_token %}
                    {% if listing.is_active == True %}
                        <input class="btn btn-primary" type="submit" value="Close Listing">
                    {% else %}
                        {% if placed_bids %}
                            <div class="alert alert-success" role="alert">
                                Listing closed successfully! Sold for ${{ listing.price }}. The winner is
                                <strong>{{ username_current_bid }}</strong>.
                            </div>
                        {% else %}
                            <div class="alert alert-success" role="alert">
                                Listing closed successfully!
                            </div>
                        {% endif %}
                        <input class="btn btn-primary" type="submit" value="Close Listing" disabled>
                    {% endif %}
                </form>
            {% else %}
                <form action="{% url 'place_bid' listing.id %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="bid" placeholder="Bid" class="form-control">
                    <input class="btn btn-primary" type="submit" value="Place Bid">
                </form>
            </div>
        {% endif %}
        <div class="listing-info">
            <h4>Details</h4>
            <ul>
                <!-- TODO: Add link to user's profile -->
                <li>Listed by: <a href="{% url 'index' %}">{{ listing.owner }}</a></li>
                <li>Category:
                    {% for category in listing.category.all %}
                        <a href="/categories/{{ category.id }}">{{ category }}</a>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>

{% endblock %}